body {
    font-family: "Montserrat", sans-serif ;
}
.position-relative {
    height: 60vh;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    color:#17a2b8 ;
    cursor: pointer;
}

.bg-skyblue {
    background-color: rgb(239, 244, 245);
}

.bg-skyblue1 {
    background-color: #cde5fe;
}

.link-small {
    font-size: 0.8rem;
}
