body {
    font-family: "Montserrat", sans-serif ;
}
.position-relative {
    height: 60vh;
}
.navbar-nav .nav-link:hover {
    color: black !important; 
    background-color:white !important ; 
  }

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    color:#17a2b8 ;
    cursor: pointer;
}

.bg-skyblue {
    background-color: rgb(239, 244, 245);
}

.bg-skyblue1 {
    background-color: #cde5fe;
}

.link-small {
    font-size: 0.8rem;
}

.figures-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.figures-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.figures-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}